<div class="container">

    <header>
        <h1>PokeMatch</h1>
        <button onclick="resetGame()">Reset</button>
    </header>
    <section class="content" id="app">
        {{!-- <div class="pokemon">
            <div class="stt">$1</div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfX4grFrxQyFSp0_7Z9uqtF-2aUNmJ7nhkPhgWPKmsRrRfkyg0HvcEx4GiCpi8h1rBYsw&usqp=CAU" alt="poke">
        </div>
        <div class="pokemon">
            <div class="stt">$1</div>
            <img src="#" alt="poke">
        </div> --}}
    </section>
    </div>
     <script src="/js/app.js"></script>
</div>